// ============================================================
// _buttons.scss
// ============================================================

@use "variables" as *;
@use "mixins" as *;

.btn {
  @include type-body;
  align-items: center;
  background: var(--color-neutral-900);
  border: 1px solid var(--color-neutral-100);
  box-shadow: 2px 2px 0 0 var(--color-neutral-100);
  color: var(--color-neutral-100);
  display: inline-flex;
  font-weight: 700;
  gap: 0.75rem;
  justify-content: center;
  padding: var(--space-sm) var(--space-md);
  text-decoration: none;
  text-transform: uppercase;
  transition:
    background-color var(--transition),
    color var(--transition),
    border-color var(--transition),
    border-style var(--transition),
    box-shadow var(--transition),
    transform var(--transition);
  white-space: nowrap;

  &:hover {
    background: var(--color-green-200);
    box-shadow: 4px 4px 0 0 var(--color-neutral-600);
    color: var(--color-dark-text);
  }

  &:active {
    background: var(--color-neutral-900);
    border-color: var(--color-green-200);
    border-style: dashed;
    box-shadow: 2px 2px 0 0 var(--color-green-200);
    color: var(--color-neutral-100);
  }

  // Variants
  &--nav {
    box-shadow: none;
    font-weight: 500;
    gap: var(--space-xs);
    padding: 0.625rem var(--space-md);

    &:hover {
      background: var(--color-neutral-900);
      box-shadow: 2px 2px 0 0 var(--color-neutral-100);
      color: var(--color-neutral-100);
    }

    &.active {
      background: var(--color-neutral-800);
      border-color: var(--color-green-200);
      box-shadow: 2px 2px 0 0 var(--color-green-200);
    }

    &:active {
      background: var(--color-neutral-800);
      box-shadow: 2px 2px 0 0 var(--color-green-200);
    }
  }

  &--light {
    background: var(--color-cyan-100);
    box-shadow: 2px 2px 0 0 var(--color-neutral-900);
    border-color: var(--color-neutral-900);
    color: var(--color-dark-text);
    svg * {
      fill: currentColor;
    }

    &:hover {
      background: var(--color-neutral-900);
      border-color: var(--color-neutral-600);
       box-shadow: 2px 2px 0 0 var(--color-neutral-600);
       color: var(--color-neutral-100);
    }

    &:active {
      background: var(--color-cyan-100);
      color: var(--color-dark-text);
    }
  }

  &[class*="--control"] {
  font-size: 0.875rem;
  box-shadow: none;
  font-weight: 500;
  gap: var(--space-xs);
  padding: var(--space-xs) var(--space-sm);

  &:hover{
    background: var(--color-neutral-900);
    border-color: var(--color-green-200);
    box-shadow: 2px 2px 0 0 var(--color-green-200);
    color: var(--color-green-200);
  }
  
  &.active {
    border-color: var(--color-green-200);
    background-color: var(--color-green-200);
    color: var(--color-dark-text);
  }
}

  &--control-tab {
   
  }

  &--control-filter {
    border-color: var(--color-neutral-500);
    border-radius: var(--radius-pill);
  }
}
